/* add your styles here */
.image-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.image-container img{
    width: 97%;
}
h1{
    display: flex;
    justify-content: center;
}
